/*Стили бади*/
html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
#container_1 {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}
/*Стили контейнер ремонтов*/
.container-repairs{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
/*Стили поля для поиска ремонтов*/

/*Стили шапка таблицы ремонтов*/
.thead-repairs{
    text-align: center;
}

.active{
    background-color: white;
}
/*Стили навбар*/
.navbar{
    margin-bottom: 0;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px;
}
/*Стили футера*/
.footer {
	background: rgba(36, 6, 35, 0.95);
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #F5F5F5;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #F5F5F5
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	/*background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);*/
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
}
/*Стили вехней области под навбаром*/
.section-top{
    margin: 10px;
}
/*Стили error notifications*/
.alert{
    margin-top: 50px;
}
/*Стили панели для загрузки таблицы*/
.panel-primary{
    margin-top: 100px;
    position: static;
}
/*Стили вехней области под навбаром*/
.section-top-top{
    margin-top: 50px;
    height: 50px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: white;
    text-align: start;
    color: black;
}
p{
    margin: 5px 2px 5px;
}

h4{
    margin-top: 15px;
}

.product-description-tabs{
    padding: 10px;
}
/*Стили секции для продукта*/
.product-item{
    height: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}
/*Стили кнопки добавить в корзину*/
.add-to-cart-btn{
    position: absolute;
    bottom: 15px;
    left: 50px;
}
/*Стили секции для скидки, если есть*/
.discount-container{
    Position:absolute;
    top:30%;
    background: rgba(36, 6, 35, 0.95);
    width: 35%;
    color: whitesmoke;
    font-weight: 700;
    padding: 3px;


}
/*Стили для анимации*/
.section-delivery{
    width: 100%;
    text-align: left;
    color: black;
    border-top: 2px black;
    /*height: 400px;*/
    /*border: 2px solid black;*/
    /*background-color: #e5e1ea;*/
}

.control-label-video h1{
    margin-top: -500px;
    position: relative;
    margin-left: 25px;
}
.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.overlay {
    /*background: rgba(0,0,0,0.6);*/
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

.overlay h1 {
    text-align:center;
    color:#fff;
    font-size: 70px;
    margin-top:17%;
}
/*Стили для секции для картинки*/
.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}
/*Закомментил нав бар топ, он мешает фиксед навбару*/
.navbar-top{
    min-height: 0px;
    /*height: 5px;*/
    background-color: white;
    border: none;
    border-radius: 0;
}
/*Стили для выпадающего меню*/
.dropdown-menu{
    position: static;
}
/*Стили для главного навбара*/
.navbar-main{
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 102%;
    z-index: 101;
    border: 1px solid black;
    border-radius: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #f5f5f5;
}

.navbar-default{
    background-color: #f5f5f5;
}

.active-click{
    background-color: #f5f5f5;
}
/*Стили для секции корзины*/
.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.text-color-in-basket-container{
    color: #555;
}

.form-phone{
}
/*Стили для кнопки вверх*/
#message a
{
display: block;
display: none;
/* link is above all other elements */
z-index: 999;
/* link doesn't hide text behind it */
opacity: .8;
/* link stays at same place on page */
position: fixed;
/* link goes at the bottom of the page */
top: 50%;
margin-top: -80px; /* = height + preferred bottom margin */
/* link is centered */
left: 4%;
margin-left: -35px; /* = half of width */
/* round the corners (to your preference) */
-moz-border-radius: 24px;
-webkit-border-radius: 24px;
border-radius: 24px;
/* make it big and easy to see (size, style to preferences) */
width: 40px;
line-height: 30px;
height: 40px;
padding: 6px;
background-color: rgba(36, 6, 35, 0.95);
font-size: 24px;
text-align: center;
color: #fff;
}
/*Стили итемов корзины*/
.basket-items {
    position: fixed;
    top: 58px;
    width: auto;
    background-color: white;
    z-index: 102;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    border-radius: 25px;
    border-top: none;
}
/*Стили для валидации*/
.form-error{
    color: red;
}
/*Стили для кнопки добавить*/
.btn-success {
    color: #fff;
    background-color: rgba(36, 6, 35, 0.95);
    border-color: green;
}
/*Стили для контейнера-продуктов*/
.container-product{
    margin: 100px;
}
/*Стили контейнера чекаута*/
.container-checkout{
    margin: 100px;
}
/*Стили для выпадающего меню администратора*/
.dropdown-menu{
    padding: 5px 1px 5px 1px;
    float: none;
}
.xlarge{
    color: rgba(36, 6, 35, 0.95);
    font-size: 44px;
    font-weight: 800;
    padding-bottom: 0;
    line-height: normal;
    text-shadow: 0 1px 3px rgba(0,0,0,0.8), 0 0 1px #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}
