<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
            <h3>FOOTER</h3>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © 2018, Tim. All rights reserved.</p>
            <p class="pull-left"> Made by guys from RoadBasket</p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
