
<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-top">
    </nav>
{#<div class="float-menu">#}
<div class="row">
    <nav class="navbar navbar-default navbar-main">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tim</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
{#Переход на страницу Домой#}
            <li class="active active-click">
                <a href="/" class="">
                    <span class="glyphicon glyphicon-home"></span>
                    Домой </a>
            </li>
{#Переход на страницу с товарами в корзине #}
              <li class="active active-click">
                  <a href="{% url 'checkout'%}"class="">
                      <span class="glyphicon glyphicon-shopping-cart"></span>
                      Корзина товаров </a>
              </li>

{#Выпадающее меню для КОРЗИНЫ ЗАКАЗОВ#}
          <ul class="nav navbar-nav navbar-right">
            <li>
{#                   <form id="form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}#}
                <div class="basket-container">
                 <a href="" class="text-color-in-basket-container">Корзина заказов
                     <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                     <span id="basket_total_amount"></span>
                        <span id="basket_total_nmb">
                            {% if products_total_nmb %}
                                ({{ products_total_nmb }})
                            {% else %}
                        (0)
                            {% endif %}
                        </span>
                 </a>
{#                <form id="form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}#}
                    <div class="basket-items hidden">
                        <ul class="">
                            {% for product_in_basket in products_in_basket %}
                            <li>
                            {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт. по
                                {{ product_in_basket.price_per_item }} руб.
                                <a class="delete-item" href=""  data-product_id="{{ product_in_basket.id }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
{#                            <form id="form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}#}
{#                                {{ product_in_basket.product.name }} {{ product_in_basket.nmb }} шт. по#}
{#                                {{ product_in_basket.price_per_item }} руб.#}
{#                                <a class="delete-item" href="" data-product_id="{{ product_in_basket.id }}" > x </a>#}
{#                            </form>#}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
{#                </form>#}
                </div>
{#                   </form>#}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{#</div>#}
</div>

{#<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>#}
