{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Заказы</h3>
                <table width="100%" class="table table-bordered table-hover text-center table-price" id="orders_table">
                    <thead>
                        <tr>
                            <td>
                                Id заказа
                            </td>
                            <td>
                                Имя
                            </td>
                            <td>
                                Телефон
                            </td>
                            <td>
                                Количество товара
                            </td>
                            <td>
                                Товары в заказе
                            </td>
                            <td>
                                Общая сумма заказа
                            </td>
                            <td>
                                Статус заказа
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in orders %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.customer_name }}</td>
                                <td>{{ item.customer_phone }}</td>
                                <td>{{ item.products_nmb }}</td>
                                <td>
                                    <ol>
                                        {% for product in item.products %}
                                            <li>
                                                {{ product.product__name }}:{{ product.nmb }}шт. по
                                            {{ product.price_per_item }}={{ product.total_price }}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </td>
                                <td>{{ item.total_price }}</td>

                                <td>
                                    <ol>
                                        {% for product in item.products %}
                                            <li>
                                                {{ product.order__Status__name }}
                                            </li>
                                        {% endfor %}
                                    </ol>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_stuff1 %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('#orders_table').dataTable(
            {
                "order":[[0, "asc"]],
                "pageLength": 10
            }
        );
    });

    </script>
{% endblock js_stuff1 %}