{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Building site</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">
{#    <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">#}

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">



</head>
<body>

<div class="general-container">
    <div class="container top-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="title"><span class="glyphicon glyphicon-wrench"></span>Наш сервис скоро откроется!<br>
                    Оставляйте Ваш e-mail в форме ниже. С уважением, Voodoo Mobile.
                </h1>
                    <div>
                        <div class="col-lg-6 col-lg-offset-3">
                        <form action="" method="post" class="form-check-inline text-center">{% csrf_token %}
                         <div class="form-group">
                             <label>Ваш e-mail: </label>
                             <input  type="email" name="{{ form.email.name }}"placeholder="Enter your e-mail..."
                                     class="form-control text-center">
                         </div>
                         <div class="form-group">
                             <label>Ваше имя: </label>
                             <input name="{{ form.name.name }}"placeholder="Enter your name..."
                                    class="form-control text-center">
                         </div>
                         <button type="submit" class="btn btn-primary btn-orange">Отправить
                             <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                         </button>
                        </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>

